.products_main {
    flex: 6;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.product {
    padding: 0.7rem;
    margin: .5rem;
    font-weight: bold;
    width: 250px;
    text-align: center;

}

.product--header {
    font-size: 20px;
    margin-bottom: 5px;
}

.cSearch {
    width: 200px;
    background-color: #f9dd0d;
    color: rgb(20, 20, 20);
    height: fit-content;
    margin-right: 5px;
    text-align: center;
    margin-left: 20px;
}

/* .product--title {
    font-weight: 700;
} */

.button {
    width: fit-content;
    margin-right: 5px;
}

/* .productForm{}

.productForm__title{} */
