.employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.employee {
    background-color: rgb(3, 169, 251);
    border: solid 2px rgb(250, 1, 230);
    color: black;
    padding: 7px;
    margin: 10px;
}

.employee_footer {
    margin: 1rem 0 .25rem 0;
    font-style: oblique;
}

.employee_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}