.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.customer {
    background-color: rgb(233, 53, 249);
    border: solid 2px rgb(183, 249, 3);
    color: rgb(49, 48, 48);
    padding: 7px;
    margin: 10px;
}

.customer_footer {
    margin: 1rem 0 .25rem 0;
    font-style: oblique;
}

.customer_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}