.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 330px;
    font-family: "Life Savers", sans-serif;
}

.customer {
    background-color: rgb(238, 126, 248);
    border: solid 2px rgb(214, 255, 103);
    color: rgb(49, 48, 48);
    padding: 7px;
    margin: 10px;
    line-height: 1.5rem;
}

.one_customer{
    background-color: rgb(238, 126, 248);
    border: solid 2px rgb(214, 255, 103);
    color: rgb(49, 48, 48);
    padding: 7px;
    margin-left: 330px;
    line-height: 1.5rem;
    font-family: "Life Savers", sans-serif;
}

.customer_footer {
    margin: 1rem 0 .25rem 0;
    font-style: oblique;
}

.customer_header {
    font-size: larger;
    font-weight: 700;
    line-height: 2rem;
}