/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Life+Savers:wght@400;700;800&family=Mansalva&display=swap');
@import "KandyDetails.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Life Savers", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Life Savers", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}