.locations {
    display: flex;
    flex-direction: column;
}

.location {
    background-color: rgb(135, 244, 250);
    border: 1px dashed rgb(133, 128, 128);
    padding: 0.7rem;
    margin: .5rem;
    font-weight: bold;
}

.l--header {
    font-size: 18px;
}