.navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.navbar__item {
    /* flex-basis: 20%; */
    list-style-type: none;
}

/* .navbar__logout {
    margin-left: auto;
} */

.kandyLogo {
    width: 300px;
}

